.elementor-13 .elementor-element.elementor-element-f63bd71 img {
  width: 130px;
}
.elementor-13 .elementor-element.elementor-element-c115c28 img {
  width: 120px;
}
.elementor-13
  .elementor-element.elementor-element-c115c28
  > .elementor-widget-container {
  margin: 30px 0px 0px 0px;
}
.elementor-13 .elementor-element.elementor-element-3582bcb img {
  width: 625px;
}
.elementor-13
  .elementor-element.elementor-element-fc4147a
  > .elementor-container {
  max-width: 850px;
}
.elementor-13 .elementor-element.elementor-element-b314aa4 {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-b314aa4
  .elementor-heading-title {
  font-family: "Bungee", Sans-serif;
  font-size: 32px;
  line-height: 42px;
}
.elementor-13 .elementor-element.elementor-element-86dcaa5 img {
  width: 120px;
}
.elementor-13
  .elementor-element.elementor-element-86dcaa5
  > .elementor-widget-container {
  padding: 0px 0px 30px 0px;
}
.elementor-13 .elementor-element.elementor-element-320a7e4 img {
  width: 105px;
}
.elementor-13
  .elementor-element.elementor-element-811b928.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-13 .elementor-element.elementor-element-4b01ad2 {
  width: auto;
  max-width: auto;
  top: 28%;
}
body:not(.rtl) .elementor-13 .elementor-element.elementor-element-4b01ad2 {
  left: 0px;
}
body.rtl .elementor-13 .elementor-element.elementor-element-4b01ad2 {
  right: 0px;
}
.elementor-13 .elementor-element.elementor-element-c76a6de img {
  width: 100%;
}
.elementor-13 .elementor-element.elementor-element-26f7211 {
  --divider-border-style: solid;
  --divider-color: #ffffff;
  --divider-border-width: 4px;
}
.elementor-13
  .elementor-element.elementor-element-26f7211
  .elementor-divider-separator {
  width: 100%;
}
.elementor-13 .elementor-element.elementor-element-26f7211 .elementor-divider {
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-13
  .elementor-element.elementor-element-4372d51
  .elementor-heading-title {
  color: #ffffff;
}
.elementor-13
  .elementor-element.elementor-element-4372d51
  > .elementor-widget-container {
  padding: 010px 0px 20px 0px;
}
.elementor-13 .elementor-element.elementor-element-844c5fc {
  column-gap: 0px;
  color: #ffd543;
  font-family: "Playfair Display", Sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  width: var(--container-widget-width, 100%);
  max-width: 100%;
  --container-widget-width: 100%;
  --container-widget-flex-grow: 0;
}
.elementor-13 .elementor-element.elementor-element-cd0db9d {
  color: #ff0400;
  width: initial;
  max-width: initial;
}
.elementor-13 .elementor-element.elementor-element-a44e68c {
  color: #ffd543;
  width: initial;
  max-width: initial;
}
.elementor-13 .elementor-element.elementor-element-56c1ae7 {
  color: #ff0400;
  width: initial;
  max-width: initial;
}
.elementor-13
  .elementor-element.elementor-element-56c1ae7
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-13 .elementor-element.elementor-element-c186ed2 {
  --divider-border-style: solid;
  --divider-color: #ffffff;
  --divider-border-width: 4px;
}
.elementor-13
  .elementor-element.elementor-element-c186ed2
  .elementor-divider-separator {
  width: 100%;
}
.elementor-13 .elementor-element.elementor-element-c186ed2 .elementor-divider {
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-13 .elementor-element.elementor-element-852a992 {
  text-align: left;
  width: 100%;
  max-width: 100%;
}
.elementor-13 .elementor-element.elementor-element-852a992 img {
  width: 280px;
  max-width: 100%;
  height: 50px;
}
.elementor-13
  .elementor-element.elementor-element-852a992
  > .elementor-widget-container {
  padding: 0px 0px 15px 0px;
}
.elementor-13 .elementor-element.elementor-element-0be1178 {
  padding: 0px 0px 30px 0px;
}
.elementor-13 .elementor-element.elementor-element-3fc96d9 {
  text-align: left;
}
.elementor-13 .elementor-element.elementor-element-3fc96d9 img {
  width: 430px;
}
.elementor-13 .elementor-element.elementor-element-ac9d1cf {
  color: #ffd543;
  font-family: "Playfair Display", Sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  width: initial;
  max-width: initial;
  top: -6px;
}
body:not(.rtl) .elementor-13 .elementor-element.elementor-element-ac9d1cf {
  left: -42px;
}
body.rtl .elementor-13 .elementor-element.elementor-element-ac9d1cf {
  right: -42px;
}
.elementor-13 .elementor-element.elementor-element-573aee2 {
  color: #ffd543;
  width: initial;
  max-width: initial;
}
.elementor-13 .elementor-element.elementor-element-6b4b1d2 {
  --divider-border-style: solid;
  --divider-color: #ffffff;
  --divider-border-width: 4px;
}
.elementor-13
  .elementor-element.elementor-element-6b4b1d2
  .elementor-divider-separator {
  width: 100%;
}
.elementor-13 .elementor-element.elementor-element-6b4b1d2 .elementor-divider {
  padding-top: 0px;
  padding-bottom: 0px;
}
.elementor-13 .elementor-element.elementor-element-f52e737 img {
  width: 100%;
}
.elementor-13 .elementor-element.elementor-element-ddd009f .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-13
  .elementor-element.elementor-element-ddd009f
  > .elementor-widget-container {
  padding: 0px 10px 0px 10px;
}
.elementor-13 .elementor-element.elementor-element-dc45baf .elementor-wrapper {
  --video-aspect-ratio: 1.77777;
}
.elementor-13
  .elementor-element.elementor-element-dc45baf
  > .elementor-widget-container {
  padding: 0px 10px 0px 10px;
}
.elementor-13
  .elementor-element.elementor-element-9cd793f
  .elementor-heading-title {
  color: #ffffff;
}
.elementor-13
  .elementor-element.elementor-element-9cd793f
  > .elementor-widget-container {
  padding: 010px 0px 20px 0px;
}
.elementor-13 .elementor-element.elementor-element-20956df img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-fb7f0f9 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-e0db82d img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-dc409b1 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-443ec50 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-9f94bdb img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-8f43901 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-9fb09cd img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-41940e6 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-3e64aec img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-0f916f8 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-582f5b1 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-9fff286 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-3453acf img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-900f75e img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-9310971 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-ba88a9f img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-e8b0234 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-a610a1f img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-14e2b40 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-38104ca img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-6687621 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-27af4db img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-4f26666 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-f544c0a img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-5933ab3 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-3038ac1 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-19de8ae img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-c4ce808 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-ce7c3af img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-150841e img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-f221bbf img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-dbb7d7e img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-78b4729 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-bc4233f img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-e09c61c img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-66b136e img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-514c688 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-a1eef28 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-00576e6 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-2dad5ff img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-6f364ec img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-e03664b img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-7ec8524 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-71c382e img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-c7def46 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-d987f4b img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-83c6776 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-79d5b82 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-c6537b0 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-0b70fc5 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-3c90fbe img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-520011a img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-090ee2d img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-871b4ad img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-ee43203 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-abf4461 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-8f08a58 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-9fc7c6a img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-8ecac60 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-aa5a410 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-7cdc7bf img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-05d7b5b img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-7e3c655 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-728ffd8 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-bc407c5 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-3ca278d img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-1287e80 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-abd3d9f img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-3546899 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-e27af27 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-3d35482 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-67c251a img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-1d6d132 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-72efb91 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-35b73cd img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-1c0e497 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-943a058 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-bb64f9f img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-d3c8f2f img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-a520c3f img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-af6fef8 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-10f16f8 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-51d7463 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-f76f230 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-f9ffb70 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-38958fa img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-ae2abfb img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-f1fdf5f img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-519996c img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-ff9506e img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-7f90537 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-768ba91 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-1f3771c img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-b436653 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-c38f95c img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-0c3fd79 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-4649604 img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-6900c1f img {
  width: 100%;
  transition-duration: 0.8s;
}
.elementor-13 .elementor-element.elementor-element-596c8d6 img {
  width: 100%;
  transition-duration: 0.8s;
}
@media (max-width: 767px) {
  .elementor-13 .elementor-element.elementor-element-9ca7221 {
    width: 15%;
  }
  .elementor-bc-flex-widget
    .elementor-13
    .elementor-element.elementor-element-9ca7221.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-13
    .elementor-element.elementor-element-9ca7221.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-13
    .elementor-element.elementor-element-c115c28
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-de3d9d1 {
    width: 70%;
  }
  .elementor-13
    .elementor-element.elementor-element-fc4147a
    > .elementor-container {
    max-width: 310px;
  }
  .elementor-13
    .elementor-element.elementor-element-b314aa4
    .elementor-heading-title {
    font-size: 24px;
    line-height: 34px;
  }
  .elementor-13 .elementor-element.elementor-element-754a34f {
    width: 15%;
  }
  .elementor-13
    .elementor-element.elementor-element-86dcaa5
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-4b01ad2 img {
    width: 200px;
  }
  .elementor-13
    .elementor-element.elementor-element-4372d51
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-844c5fc {
    font-size: 18px;
  }
  .elementor-13 .elementor-element.elementor-element-ac9d1cf {
    font-size: 18px;
  }
  .elementor-13
    .elementor-element.elementor-element-573aee2
    > .elementor-widget-container {
    padding: 20px 0px 0px 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-9cd793f
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-13 .elementor-element.elementor-element-a03d44b {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-1699dd2 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-770b4b3 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-b5e1d24 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-4001aa3 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-028eea0 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-1e62bd0 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-78bc49d {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-0d87dfd {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-1fa344a {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-f6d2b5a {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-db1a344 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-e86543e {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-d47b874 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-5146b76 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-8985be9 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-0d2c6ba {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-f735968 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-b6f7475 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-b76c934 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-c57d6ef {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-5121fd5 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-9b1ecd5 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-5cc30dc {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-b764cfd {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-36d97ae {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-9a897f1 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-5ab129e {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-b036bb6 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-7323440 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-2e69df2 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-1ffefe4 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-3d48b84 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-ebb21a1 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-3b978b5 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-bfbea67 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-e4b6491 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-73c263e {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-b642332 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-9175710 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-79940f8 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-277d5ee {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-d0a4573 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-b833991 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-a553e79 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-82c0c4a {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-40fd120 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-ec460ae {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-de6474b {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-3ba7e33 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-e2538a3 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-c127d25 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-71a7dba {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-32d9c22 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-e5cf7fb {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-7526462 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-753cb46 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-e409587 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-45d3d05 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-179f7b9 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-acb2aef {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-2a12225 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-a36b9de {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-d6fa1ee {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-c862caf {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-e1bb7ab {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-eeb54b6 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-2aad7ff {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-93193b6 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-55a15ed {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-ef8bab1 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-c9da5b8 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-02d1e41 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-e948dd1 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-e65c9e2 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-2b29657 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-df05c43 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-4bade91 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-d56e961 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-12f3eaf {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-1c36a5e {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-cc3fb6e {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-79c28e3 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-5c5cb26 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-060e9e1 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-8b440af {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-11103ac {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-4eb832c {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-d5fe575 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-c3b45fc {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-e8ba3af {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-70949cc {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-0f43d7a {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-816f33e {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-aa192ab {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-caaeb8a {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-a2810c2 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-916d850 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-bfc8abd {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-ef18d2f {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-a9b4d8d {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-d66a747 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-0bd55f6 {
    width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-b7bb6bc {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .elementor-13 .elementor-element.elementor-element-9ca7221 {
    width: 15%;
  }
  .elementor-13 .elementor-element.elementor-element-de3d9d1 {
    width: 69.332%;
  }
  .elementor-13 .elementor-element.elementor-element-754a34f {
    width: 15%;
  }
  .elementor-13 .elementor-element.elementor-element-fd96476 {
    width: 40%;
  }
  .elementor-13 .elementor-element.elementor-element-eb3fb45 {
    width: 60%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-13 .elementor-element.elementor-element-fd96476 {
    width: 100%;
  }
  .elementor-13 .elementor-element.elementor-element-eb3fb45 {
    width: 100%;
  }
}
