.elementor-153 .elementor-element.elementor-element-54e49069 {
  padding: 40px 30px 60px 30px;
}
.elementor-153
  .elementor-element.elementor-element-1b22979f.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-153
  .elementor-element.elementor-element-69f995be
  .elementor-icon-wrapper {
  text-align: left;
}
.elementor-153
  .elementor-element.elementor-element-69f995be.elementor-view-stacked
  .elementor-icon {
  background-color: #ffffff;
}
.elementor-153
  .elementor-element.elementor-element-69f995be.elementor-view-framed
  .elementor-icon,
.elementor-153
  .elementor-element.elementor-element-69f995be.elementor-view-default
  .elementor-icon {
  color: #ffffff;
  border-color: #ffffff;
}
.elementor-153
  .elementor-element.elementor-element-69f995be.elementor-view-framed
  .elementor-icon,
.elementor-153
  .elementor-element.elementor-element-69f995be.elementor-view-default
  .elementor-icon
  svg {
  fill: #ffffff;
}
.elementor-153 .elementor-element.elementor-element-69f995be .elementor-icon {
  font-size: 30px;
}
.elementor-153
  .elementor-element.elementor-element-69f995be
  .elementor-icon
  svg {
  height: 30px;
}
.elementor-153
  .elementor-element.elementor-element-69f995be
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-153
  .elementor-element.elementor-element-4f2d8b1
  .elementor-nav-menu
  .elementor-item {
  font-family: "Playfair Display", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.elementor-153
  .elementor-element.elementor-element-4f2d8b1
  .elementor-nav-menu--main
  .elementor-item {
  color: #ff2c00;
  fill: #ff2c00;
}
.elementor-153
  .elementor-element.elementor-element-4f2d8b1
  .elementor-nav-menu--main
  .elementor-item:hover,
.elementor-153
  .elementor-element.elementor-element-4f2d8b1
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active,
.elementor-153
  .elementor-element.elementor-element-4f2d8b1
  .elementor-nav-menu--main
  .elementor-item.highlighted,
.elementor-153
  .elementor-element.elementor-element-4f2d8b1
  .elementor-nav-menu--main
  .elementor-item:focus {
  color: #ff2c00;
  fill: #ff2c00;
}
.elementor-153
  .elementor-element.elementor-element-4f2d8b1
  .elementor-nav-menu--main
  .elementor-item.elementor-item-active {
  color: #ff2c00;
}
.elementor-153 .elementor-element.elementor-element-4f2d8b1 {
  --e-nav-menu-horizontal-menu-item-margin: calc(10px / 2);
  width: auto;
  max-width: auto;
}
.elementor-153
  .elementor-element.elementor-element-4f2d8b1
  .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal)
  .elementor-nav-menu
  > li:not(:last-child) {
  margin-bottom: 10px;
}
#elementor-popup-modal-153 .dialog-message {
  width: 320px;
  height: 100vh;
  align-items: flex-start;
}
#elementor-popup-modal-153 {
  justify-content: flex-start;
  align-items: center;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.7);
}
#elementor-popup-modal-153 .dialog-widget-content {
  animation-duration: 1.2s;
  background-color: #132540;
}
@media (max-width: 767px) {
  .elementor-153
    .elementor-element.elementor-element-54e49069
    > .elementor-container {
    min-height: 85vh;
  }
}
